:root {
  /* #8dd1d4 */
  --color-primary: rgba(141, 209, 212, 1);
  --color-primary-hard-faded: rgba(141, 209, 212, 0.6);
  --color-primary-faded: rgba(141, 209, 212, 0.25);
  /* #a6c5dd */
  --color-secondary: rgba(168, 201, 230, 1);
  --color-secondary-faded: rgba(168, 201, 230, 0.25);
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid black; */
}

#head-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#head-sub-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.head-item {
  flex-grow: 1;
  max-width: 250px;
  margin: 5px 0;
  padding: 5px;
  display: flex;
}

#high-scores {
  justify-content: flex-start;
  color: #9bcad9;
  font-size: larger;
  font-weight: bold;
  align-items: center;
}

#high-button,
#settings-button,
#home-button,
#start-button,
#submit-button,
#back-button,
#clear-button,
#question-list-but,
#add-button,
#add-submit,
#add-new-answer {
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: 0.25s ease;
  background-color: var(--color-secondary);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.35);
}

#high-button,
#high-scores,
#settings-gear {
  display: flex;
  flex-wrap: nowrap;
}

#scores-text,
#home-text,
#settings-text {
  display: none
}  

#add-new-answer {
  background-color: var(--color-primary);
  margin: 0.5em 0;
  font-size: 0.65rem;
}

.subtitle {
  display: block;
  margin-top: 2em;
  padding-left: 2em;
  font-size: small;
}


#question-sticky {
  position: sticky;
  bottom: 10px;

}

#start-button {
  font-size: xx-large;
}

#high-button:hover,
#settings-button:hover,
#home-button:hover,
#start-button:hover,
#submit-button:hover,
#back-button:hover,
#clear-button:hover,
#question-list-but:hover,
#add-button:hover,
#add-submit:hover,
#add-new-answer:hover {
  transform: scale(1.05);
  background-color: var(--color-primary);
}

#add-new-answer:hover {
  background-color: yellow;
}

#high-button:active,
#settings-button:active,
#home-button:active,
#start-button:active,
#submit-button:active,
#back-button:active,
#clear-button:active,
#question-list-but:active,
#add-button:active,
#add-submit:active,
#add-new-answer:active {
  transform: scale(1.05);
  background-color: yellow;
}

#timer {
  justify-content: flex-end;
  font-size: xx-large;
  font-weight: bolder;
  align-items: center;
  position: relative;
}

@keyframes penalty-keys {
  0% {
    opacity: 1;
    top: 1em;
  }
  100% {
    opacity: 0;
    top: 2em;
  }
}

#timer .penalty {
  position: absolute;
  color: red;
  opacity: 0;
  animation-name: penalty-keys;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#timer .bonus {
  position: absolute;
  color: green;
  opacity: 0;
  animation-name: penalty-keys;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

#container,
#start-el {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
}

#question-stick {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: capitalize;
}

p:not(#response-el p) {
  text-align: center;
  margin: 20px 0;
  transition: 0.25s;
  transform: scale(1);
}

.block {
  flex: 1;
  width: 100%;
  max-width: 900px;
  padding: 0 1em;
  margin: 1em 0 0 0;
}

span {
  width: 100%;
  display: inline-block;
}

#question {
  font-size: xx-large;
  line-height: 1.3;
}

#answer {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.35);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-primary-faded),
    var(--color-primary-faded) 14px,
    var(--color-primary-hard-faded) 15px,
    var(--color-primary-faded) 16px
  );
}

.correct-answer {
  border: 3px solid green;
}

.wrong-answer {
  border: 3px solid red;
}

ol,
ul {
  display: inline-block;
  width: 100%;
  max-width: 650px;
  list-style: decimal inside none;
}

ol li {
  padding: 15px 25px;
  margin: 20px 0;
  border-radius: 15px;
  font-weight: bold;
  background: var(--color-secondary);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.35);
  transition: 0.25s ease;
}

ol li:hover {
  transform: scale(1.025);
  background-color: var(--color-primary);
}

ol li:active {
  transform: scale(1.025);
  background-color: yellow;
}

#response-el {
  text-align: center;
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: bolder;
  color: black;
  transition: 0.25s ease;
  border-radius: 50%;
}

.true {
  color: green;
  text-shadow: 0px 0px 2.5rem green;
}

.false {
  color: red;
  text-shadow: 0px 0px 2.5rem red;
}

.truebg {
  background-color: rgba( 0, 255, 0, 0.15);
  border-radius: 50%;
}

.falsebg {
  background-color: rgba( 255, 0, 0, 0.15);
  border-radius: 50%;
}

#score-span {
  margin: 15px 0;
}

#submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0;
}

#submit div {
  align-self: flex-start;
}

#input {
  flex: 4 auto;
  margin: 0 10px;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  font-size: large;
}

#input:focus {
  background-color: var(--color-primary-faded);
}

input:read-only {
  background-color: lightgoldenrodyellow;
}

#score-list, #question-list {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  border-radius: 15px;
  padding: 0.5em;
  box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.35);
  background-image: repeating-linear-gradient(
    -45deg,
    var(--color-primary-faded),
    var(--color-primary-faded) 14px,
    var(--color-primary-hard-faded) 15px,
    var(--color-primary-faded) 16px
  );
}

ul li {
  line-height: 1.75;
  padding: 5px 15px;
  margin: 5px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.35);
}

#controls {
  display: flex;
  flex-wrap: nowrap;
}

#clear-button {
  margin-left: 10px;
}

small {
  font-style: italic;
  font-size: smaller;
  font-weight: lighter;
}

.list-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.list-item:hover {
  background-color: var(--color-primary);
}

.question-entry {
  text-align: left;
  width: 100%;
  margin: 0 1em;
}

.delete {
  background-color: var(--color-primary);
  padding: 2px 10px 2px 11px;
  border-radius: 50%;
  font-weight: bolder;
  border: 1px solid white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.35);
}

.delete:hover {
  background-color: red;
}

.delete:active {
  background-color: yellow;
}

.questions-header {
  margin-top: 2em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  }

.questions-header div {
  width: auto;
}

#settings-div {
  width: 100%;
  line-height: 1.5;
}

.setting-line {
  padding: 5px;
  background-color: var(--color-primary-faded);
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: inset 1px 2px 3px 0px rgba(0, 0, 0, 0.35);
}

.settingBonus {
  display: flex;
}

#settings-div span {
  width: auto;
  padding-left: 5px;
}

#settings-div p {
  display: inline; 
  margin: 0;
  text-align: left;
  width: auto;
  padding-left: 5px;
}

.setting-entry {
  padding: 5px;
  background-color: var(--color-secondary-faded);
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.35);
}

textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  font-size:initial;
  line-height: 1.5;
  margin: 0
}




/* W3 Schools Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 95%;
  border-radius: 15px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.35);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.form-line {
  width: 90%;
  margin: 5px 0;
}

.form-line input[type=text] {
  display: block;
  width: 100%;
  padding: 10px 5px;
  border-radius: 10px;
  margin: 0 10px;
  outline: none;
}

.form-line label {
  display: block;
  font-size: larger;
  font-weight: bold;
}

.form-line input[type=text]:focus {
  background-color: var(--color-primary-faded);
}

.form-container .form-line:nth-of-type(1n+6) label {
   display: none;
}

@keyframes my-animation {        
  from {
    bottom : -0.5em;
  }
  to {
    bottom : 0;
  }      
}

.run-animation {
  position: relative;
  animation: my-animation 0.5s ease;
}


@media screen and (min-width: 768px) {
  #high-button .fas {
    margin-right: 1em;
  }

  #scores-text,
  #home-text,
  #settings-text {
    display: inline
  }  

  #add-submit {
    padding: 20px;
    font-size: larger;
  }

  .small {
    width: 50%;
  }

  .form-line {
    margin: 5px 0;
  }

  .form-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }

  .form-line input[type=text] {
    flex: 3;
  }

  .form-line label {
    flex: 1;
  }

  .form-container .form-line:nth-of-type(1n+6) label {
    display: initial;
 }

 #submit {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  /* margin: 15px 0; */
}

#submit div {
  align-self: flex-start;
}

.modal-content {
  width: 75%;
}


}

